@import 'sites/login';

@mixin generateClassesBulk($className, $styleName, $max) {
  $i: 0;
  @while $i <= $max {
    #{$className + $i} {
      #{$styleName}: #{$i + 'px !important'};
    }
    $i: $i + 1;
  }
}

// Margins
@include generateClassesBulk('.m-t-', 'margin-top', 40);
@include generateClassesBulk('.m-r-', 'margin-right', 40);
@include generateClassesBulk('.m-b-', 'margin-bottom', 40);
@include generateClassesBulk('.m-l-', 'margin-left', 40);
@include generateClassesBulk('.m-', 'margin', 40);

// Paddings
@include generateClassesBulk('.p-t-', 'padding-top', 40);
@include generateClassesBulk('.p-r-', 'padding-right', 40);
@include generateClassesBulk('.p-b-', 'padding-bottom', 40);
@include generateClassesBulk('.p-l-', 'padding-left', 40);
@include generateClassesBulk('.p-', 'padding', 40);

// Font sizes
@include generateClassesBulk('.fs-', 'font-size', 40);

* {
  padding: 0;
  margin: 0;
}